<section id="menu">
        <div id="logo">
            <a id="logo-link" href="index.php">
                <img  src="admin/img/S (2)/xxxx.png" alt="">
            </a>
        </div>
        <div id="dropdown">
                <i class="fa-solid fa-bars"></i>
        </div>
        <nav>
            <ul id="navbar-ul" class="my-auto">

                <li class="navbar-li ">
                    <a href="okunan-kitaplar.php" class="navbar-a">
                        <i class="fa-solid fa-book"></i> Kitaplarım
                    </a>
                </li>

                <li class="navbar-li">
                    <a href="yazarlar.php" class="navbar-a">
                        <i class="fa-solid fa-user"></i> Yazarlar
                    </a>
                </li>

                <li class="navbar-li">
                    <a href="alintilar.php" class="navbar-a">
                        <i class="fa-solid fa-quote-left"></i></i> Alıntılar
                    </a>
                </li>

                <li class="navbar-li">
                    <a href="yazilarim.php" class="navbar-a">
                        <i class="fa-solid fa-pen-nib"></i> Yazılarım
                    </a>
                </li>
                
            </ul>
        </nav>
</section>